@font-face {
  font-family: 'Anonymous';
  src: url('assets/fonts/Anonymous_Pro-webfont.eot?') format('eot'), url('assets/fonts/Anonymous_Pro-webfont.woff') format('woff'), url('assets/fonts/Anonymous_Pro-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Anonymous';
  src: url('assets/fonts/Anonymous_Pro_B-webfont.eot?') format('eot'), url('assets/fonts/Anonymous_Pro_B-webfont.woff') format('woff'), url('assets/fonts/Anonymous_Pro_B-webfont.ttf') format('truetype');
  font-weight:bold;
}

@font-face {
  font-family: 'Anonymous';
  src: url('assets/fonts/Anonymous_Pro_I-webfont.eot?') format('eot'), url('assets/fonts/Anonymous_Pro_I-webfont.woff') format('woff'), url('assets/fonts/Anonymous_Pro_I-webfont.ttf') format('truetype');
  font-style:italic;
}


*
{
	margin: 0px; padding: 0px;
	font-weight: normal;
}

strong, b {font-weight:bold;}

body
{
	font-family: "Anonymous", Arial, sans-serif;

	/*max-width: 800px;
	margin: 0px auto;*/
    
    width:100%;
    height:100%;
    
    font-size:1.6vw;
    
    background-image:url('default_background.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    background-color:#D2D2D0;
}

section#walt, section#wilf
{
    width:46%;
}

section#walt
{
    float:left;
}

section#wilf
{
    float:right;
}

section
{
    padding:0% 2%;
}

section h1
{
    font-size:3.5vw;
    margin-bottom:4%;
}

section h2
{
    font-size:2.2vw;
}
section#walt h2
{
    margin-bottom:2%;
}

section#wilf h2
{
    text-align:right;
    
    background-color:rgba(51, 153, 255, 0.9);
    color:white;
    padding:1%;
}

section ul
{
    list-style-position:inside;
    
    background-color:rgba(255, 255, 255, 0.5);
    padding:2%;
    padding:2%;
}

section#walt ul
{
    margin-bottom:4%;
}

section#wilf ul
{
    margin-bottom:8%;
}

ul#keywords
{
    list-style-type: none;
    overflow:auto;
}

ul#keywords li
{
    float:left;
    margin-right:5%;
}