<!DOCTYPE html>
<html>
<head>
	<title>lessons &raquo; subDimension</title>
	<link rel="stylesheet" href="{{site.baseurl}}/style/style.css" title="Style" type="text/css" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>lessons</h1>
		
		<nav>
		<ul><li><a href="{{site.baseurl}}/">home</a></li><li><a href="#">about</a></li></ul>
		</nav>
		
		
    </header>
    <section>
		<h2>{{page.title}}</h2>
        
        <ul>
        {% for walt in page.walt %}
            <li>{{ walt }}</li>
        {% endfor %}
        </ul>
        
		{{ content }}
    
    </section>
</body>
</html>