<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}} &raquo; computing.codes</title>
	<link rel="stylesheet" href="{{site.baseurl}}/style/projects.css" title="Style" type="text/css" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>{{page.title}}</h1>

		<nav>
		<ul><li><a href="{{site.baseurl}}/">home</a></li><!--<li><a href="{{site.baseurl}}/projects.html">projects</a></li><li><a href="{{site.baseurl}}/year-7.html">Year 7</a></li><li><a href="{{site.baseurl}}/year-8.html">Year 8</a></li><li><a href="{{site.baseurl}}/year-9.html">Year 9</a></li>--></ul>
		</nav>


    </header>

    <section>
    {{ content }}
    </section>
</body>
</html>
