<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}} &raquo; lessons</title>
	<link rel="stylesheet" href="{{site.baseurl}}/style/simple_lesson.css" title="Style" type="text/css" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>{{page.title}}</h1>
		
		<!--<nav>
		<ul><li><a href="{{site.baseurl}}/">stream</a></li><li><a href="{{site.baseurl}}/albums/">albums</a></li><li><a href="#">about</a></li></ul>
		</nav>-->
		
		
    </header>
    <section>
		{{ content }}
    
    </section>
</body>
</html>